.management-title{
    line-height: 80px;
    color:CadetBlue;
    font-weight: 600;
    text-decoration: overline underline;
    letter-spacing: 4px;
}
.management-span{
    color: DarkOliveGreen;
    text-decoration: overline underline;
}

.management-photo{
    border-radius: 100%;
}

.ceo-name{
    color: steelblue;
}
.post{
    color: darkcyan;
}
.education{
    color: gray;
}