

.product-detail-title{
    color:teal;
}
.details-inverter{
    color:rgba(165, 42, 42, 0.568);
}
.details-origin{
    color:gray;
}
.details-price{
    color:cadetblue;
    font-weight: 700;
}
.details-regular-text{
    color: gray;
}

.features{
    font-weight: bold;
    text-decoration: underline overline;
    color:rgba(85, 107, 47, 0.815);
    letter-spacing: 15px;
    line-height: 40px;

}
.feature-line{
    line-height:45px;
    font-size: 1.3rem;
    color:darkslategray;
    margin-left: 0%;

}

.specs{
    line-height:45px;
    font-size: 1.3rem;
    color:darkslategray;
    overflow: hidden;
}
