.blockaddress{
    background-color: black;
    background-color: DarkGray;
    background-color: gainsboro;
    background-color:rgba(128, 128, 128, 0.479);
    background-color: rgba(248, 248, 255, 0.582);
    /* background-color: rgba(135, 206, 250, 0.397); */
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.dhaka-office{
    color: ghostwhite;
    color: darkslategray;
}

.dhaka-office h2{
    font-weight: 600;
    letter-spacing: 3px;
}