.ac-card{
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.ac-card:hover{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background-color: whitesmoke;
}



.ac-card-btn{
    border:none;
    background-color:DarkSlateGray;
    padding: 5px 45px;
    color: ghostwhite;
    font-size: 19px;
    border-radius: 5px;
    margin: 10px;
}


.ac-card:hover .ac-card-btn{
background-color: RosyBrown;
}